<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>444182421044-sl90ctka8a6rlojn869ip26oo4c7bjb1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.444182421044-sl90ctka8a6rlojn869ip26oo4c7bjb1</string>
	<key>API_KEY</key>
	<string>AIzaSyC2nSANSuHTAMLxaEdXYXqzGVvTK4iQ-yQ</string>
	<key>GCM_SENDER_ID</key>
	<string>444182421044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cordova</string>
	<key>PROJECT_ID</key>
	<string>hackfest-2023-409516</string>
	<key>STORAGE_BUCKET</key>
	<string>hackfest-2023-409516.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444182421044:ios:89aad69265f3a09d55b461</string>
</dict>
</plist>